body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 1000px;
}

h1 {
  text-align: center;
}

.textbox {
  width: 95%;
  height: 150px;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none;
}

#timer {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}

.correct {
  color: green;
}

.incorrect {
  color: coral;
}
